.sidebar{
    background: $color-primary-dark;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1/-1;
    @media only screen and (max-width:$bp-medium){
       grid-column: 1 / -1;
       grid-row: 1 / 2;
                            }
}